<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E00L9PT3V9');
    </script>
    <title>{{ site.name }}</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <meta name="author" content="{{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body>
    <table
        style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr style="padding:0px">
            <td style="padding:0px">
                <!------------------------------------------------------------------------------------>
                <!-- INTRODUCTION -->
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr style="padding:0px">
                        <td style="padding:2.5%;width:60%;vertical-align:middle">
                            <h1>
                                Vicente Balmaseda
                            </h1>
                            <p>I am a PhD student at the OptMAI Lab in the <a
                                    href="https://engineering.tamu.edu/cse/" target="_blank"
                                    rel="noopener noreferrer">Department of Computer Science & Engineering</a> at <a
                                    href="https://www.tamu.edu/" target="_blank" rel="noopener noreferrer">Texas A&M
                                    University</a>, where I am advised by <a
                                    href="https://engineering.tamu.edu/cse/profiles/yang-tianbao.html" target="_blank"
                                    rel="noopener noreferrer">Dr. Tianbao Yang</a>.
                            </p>
                            <p>
                                I hold an MS in Computer Science from <a href="https://www.tamu.edu/" target="_blank"
                                    rel="noopener noreferrer">Texas A&M University</a>, as well as dual Bachelor's degrees in Telecommunications Engineering and Business Analytics from <a
                                    href="https://www.comillas.edu/en/icai/" target="_blank"
                                    rel="noopener noreferrer">ICAI, Comillas Pontificial University</a>.
                            </p>
                            <p style="text-align:center">
                                <!-- <a target="_blank" href="https://mailhide.io/e/tjfh8IcQ"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/vibalcam">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=RRYZEfQAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/vicente-balmaseda/"> LinkedIn </a> -->
                                <!-- <a target="_blank" href="{{ site.footer-links.email }}"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/{{ site.footer-links.github }}">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user={{ site.footer-links.googlescholar }}">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}/"> LinkedIn </a> -->
                                {% include svg-icons.html %}
                            </p>
                        </td>
                        <td style="padding:2.5%;width:40%;max-width:40%">
                            <img style="width:100%;max-width:100%" alt="profile photo" src="{{ site.avatar }}">
                        </td>
                    </tr>
                </table>
                <!-- END -->
                <!------------------------------------------------------------------------------------>
                <!-- INTRO PAPERS -->
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:2.5%;width:100%;vertical-align:middle">
                            <h2>Research</h2>
                            <p>
                                I'm interested in deep learning, machine learning, graph analytics, and their practical
                                applications.
                                <!-- I am currently working on topics related to self-supervised learning, representation learning, and generative AI. -->
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- MAIN PAPERS  -->
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    {% for post in site.posts %}
                    {% for cat in post.categories %}
                    {% if cat == 'research' %}
                    <tr>
                        <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                            <a href="{{post.image}}" target="_blank">
                                <img src="/tn{{post.image}}" alt="project image"
                                    style="width:auto; height:auto; max-width:100%;" />
                            </a>
                        </td>
                        <td style="padding:2.5%;width:75%;vertical-align:middle">
                            <h3>{{post.title}}</h3>
                            <br>
                            {{post.authors}}
                            <br>
                            <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
                            <br>
                            {% if post.paper %}
                            <a href="{{post.paper}}" target="_blank" rel="noopener noreferrer">paper</a> /
                            {% endif %}
                            {% if post.code %}
                            <a href="{{post.code}}" target="_blank" rel="noopener noreferrer">code</a> /
                            {% endif %}
                            {% if post.poster %}
                            <a href="{{post.poster}}" target="_blank" rel="noopener noreferrer">poster</a> /
                            {% endif %}
                            {% if post.video %}
                            <a href="{{post.video}}" target="_blank" rel="noopener noreferrer">video</a> /
                            {% endif %}
                            {% if post.slides %}
                            <a href="{{post.slides}}" target="_blank" rel="noopener noreferrer">slides</a> /
                            {% endif %}
                            {% if post.youtube %}
                            <a href="{{post.youtube}}" target="_blank" rel="noopener noreferrer">youtube</a> /
                            {% endif %}
                            {% if post.website %}
                            <a href="{{post.website}}" target="_blank" rel="noopener noreferrer">website</a> /
                            {% endif %}
                            {% if post.arxiv %}
                            <a href="{{post.arxiv}}" target="_blank" rel="noopener noreferrer">arXiv</a> /
                            {% endif %}
                            {% if post.venueSite %}
                            <a href="{{post.venueSite}}" target="_blank" rel="noopener noreferrer">venue</a> /
                            {% endif %}
                            <p></p>
                            {{ post.excerpt }}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </table>
                <!-- END -->
                <br>
                <br>
                <!------------------------------------------------------------------------------------>
                {% assign preprints = site.posts | where: "category", "preprint" %}
                {% if preprints.size > 0 %}
                    <!-- INTRO PREPRINTS -->
                    <table
                        style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                        <tr>
                            <td style="padding:2.5%;width:100%;vertical-align:middle">
                                <h2>Preprints</h2>
                            </td>
                        </tr>
                    </table>
                    <!-- PREPRINTS  -->
                    <table
                        style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                        {% for post in site.posts %}
                        {% for cat in post.categories %}
                        {% if cat == 'preprint' %}
                        <tr>
                            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                                {% if post.image %}
                                <a href="{{post.image}}" target="_blank">
                                    <img src="/tn{{post.image}}" alt="project image"
                                        style="width:auto; height:auto; max-width:100%;" />
                                </a>
                                {% endif %}
                            </td>
                            <td style="padding:2.5%;width:75%;vertical-align:middle">
                                <h3>{{post.title}}</h3>
                                <br>
                                {{post.authors}}
                                <br>
                                {% if post.venue %}
                                <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
                                {% else %}
                                <em>Preprint</em>, {{ post.date | date: "%Y" }}
                                {% endif %}
                                <br>
                                {% if post.paper %}
                                <a href="{{post.paper}}" target="_blank" rel="noopener noreferrer">paper</a> /
                                {% endif %}
                                {% if post.code %}
                                <a href="{{post.code}}" target="_blank" rel="noopener noreferrer">code</a> /
                                {% endif %}
                                {% if post.poster %}
                                <a href="{{post.poster}}" target="_blank" rel="noopener noreferrer">poster</a> /
                                {% endif %}
                                {% if post.video %}
                                <a href="{{post.video}}" target="_blank" rel="noopener noreferrer">video</a> /
                                {% endif %}
                                {% if post.slides %}
                                <a href="{{post.slides}}" target="_blank" rel="noopener noreferrer">slides</a> /
                                {% endif %}
                                {% if post.youtube %}
                                <a href="{{post.youtube}}" target="_blank" rel="noopener noreferrer">youtube</a> /
                                {% endif %}
                                {% if post.website %}
                                <a href="{{post.website}}" target="_blank" rel="noopener noreferrer">website</a> /
                                {% endif %}
                                {% if post.arxiv %}
                                <a href="{{post.arxiv}}" target="_blank" rel="noopener noreferrer">arXiv</a> /
                                {% endif %}
                                {% if post.venueSite %}
                                <a href="{{post.venueSite}}" target="_blank" rel="noopener noreferrer">venue</a> /
                                {% endif %}
                                <p></p>
                                {{ post.excerpt }}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>
                    <!-- END -->
                    <br>
                    <br>
                {% endif %}
                <!------------------------------------------------------------------------------------>
                <!-- INTRO PROJECTS -->
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:2.5%;width:100%;vertical-align:middle">
                            <h2>Other Projects</h2>
                            <p> These include coursework and side projects.
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- PROJECTS -->
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    {% for post in site.posts %}
                    {% for cat in post.categories %}
                    {% if cat == 'project' %}
                    <tr>
                        <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                            {% if post.image %}
                            <a href="{{post.image}}" target="_blank">
                                <img src="/tn{{post.image}}" alt="project image"
                                    style="width:auto; height:auto; max-width:100%;" />
                            </a>
                            {% else if post.video %}
                            <!-- <video autoplay loop muted playsinline style="width:auto; height:auto; max-width:100%;" src="{{post.video}}"></video> -->
                            <video autoplay loop muted playsinline loading="lazy"
                                style="max-width: 100%; height: auto;">
                                <source src="{{post.video}}" type="video/mp4">
                                Not supported
                            </video>
                            {% endif %}
                        </td>
                        <td style="padding:2.5%;width:75%;vertical-align:middle">
                            <h3>{{post.title}}</h3>
                            <br>
                            <em>{{post.categories}} {{post.course}}</em>
                            <br>
                            {{ post.date | date: "%Y-%m" }}
                            <br>
                            {% if post.website %}
                            <a href="{{post.website}}" target="_blank" rel="noopener noreferrer">website</a> /
                            {% endif %}
                            {% if post.paper %}
                            <a href="{{post.paper}}" target="_blank" rel="noopener noreferrer">paper</a> /
                            {% endif %}
                            {% if post.patent %}
                            <a href="{{post.patent}}" target="_blank" rel="noopener noreferrer">patent</a> /
                            {% endif %}
                            {% if post.patent2 %}
                            <a href="{{post.patent2}}" target="_blank" rel="noopener noreferrer">patent #2</a> /
                            {% endif %}
                            {% if post.patent3 %}
                            <a href="{{post.patent3}}" target="_blank" rel="noopener noreferrer">patent #3</a> /
                            {% endif %}
                            {% if post.video %}
                            <a href="{{post.video}}" target="_blank" rel="noopener noreferrer">video</a> /
                            {% endif %}
                            {% if post.video2 %}
                            <a href="{{post.video2}}" target="_blank" rel="noopener noreferrer">video #2</a> /
                            {% endif %}
                            {% if post.code %}
                            <a href="{{post.code}}" target="_blank" rel="noopener noreferrer">code</a> /
                            {% endif %}
                            {% if post.poster %}
                            <a href="{{post.poster}}" target="_blank" rel="noopener noreferrer">poster</a> /
                            {% endif %}
                            {% if post.slides %}
                            <a href="{{post.slides}}" target="_blank" rel="noopener noreferrer">slides</a> /
                            {% endif %}
                            <p></p>
                            {{ post.excerpt }}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </table>
                <!-- END -->
                <!------------------------------------------------------------------------------------>
                <!-- OTHER DETAILS -->
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:0px">
                            <br>
                            <p style="text-align:center;font-size:small;">
                                Updated on May 2025
                            </p>
                        </td>
                        <td style="padding:0px">
                            <br>
                            <p style="text-align:center;font-size:small;">
                                Design and source code from <a style="font-size:small;"
                                    href="https://leonidk.com/">Leonid Keselman's website</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!------------------------------------------------------------------------------------>
    <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">
                {% include svg-icons.html %}
            </footer>
        </div>
    </div>
</body>

</html>